<!-- header -->
 <nav>
    <div class="headerDiv fixed-top header-expand-lg" >
        <div class="container">
            <div id="greetingText" >
                <h3>Greetings! form Shubham</h3>
            </div>
            <div class="navbar collapse navbar-collapse">
                
                <ul id="navigationList " class="navigationList" >
                    <li class="navOption active " id="home" (click)="activateHome()" style="color:darkorange;"><fa-icon [icon]="home"></fa-icon> Home</li>
                    <li class="navOption" id="about-1" (click)="activateAbout()"><a href="#about" class="hide-link-underline"><fa-icon [icon]="person" style="padding-left: 10px; color:#593b8b;"></fa-icon><p class="hide-link-color">About</p></a></li>
                    <li class="navOption" id="projects-1" (click)="activateProjects()"><a href="#projects" class="hide-link-underline"><fa-icon [icon]="projects"></fa-icon><p class="hide-link-color">Projects</p></a> </li>
                    <li class="navOption" id="connect-1" (click)="activateConnect()"><a href="#social" class="hide-link-underline"><fa-icon [icon]="connect" style="color: #593b8b;"></fa-icon><p class="hide-link-color">Connect</p></a></li>
                </ul>
                <span id="nav-icon" (click)="showNavOptions()"><fa-icon [icon]="navIcon"></fa-icon></span>
                
            </div>
            
            <ul id="mobNavList">
                <li class="fa-solid fa-house mobNavOption" style="color:darkorange;"><a href="#header"><fa-icon [icon]="home"></fa-icon></a>&nbsp; Home</li>
                <li class="fa fa home mobNavOption"><a href="#about"><fa-icon [icon]="person"></fa-icon></a>&nbsp;&nbsp; About</li>
                <li class="fa fa home mobNavOption"><a href="#projects"><fa-icon [icon]="projects"></fa-icon></a>&nbsp; projects</li>
                <li class="fa fa home mobNavOption"><a href="#contacts"><fa-icon [icon]="contacts"></fa-icon></a>&nbsp; contacts</li>
            </ul>
        </div>
    </div>
</nav>
