<section id="social" style="background-color: #3c3934;">
    <div class="about-main">
        <div id="social" class="container">
            <ul class="social-accounts" style="margin:0px;padding-left:46%;">
                <li id="my-fb" class="my-apps"> <a href="https://en-gb.facebook.com/shubham.zope.583" target="_blank"><fa-icon [icon]="facebook"></fa-icon></a></li>
                <li id="my-insta" class="my-apps"><a href="https://www.instagram.com/shubh.z" target="_blank"><fa-icon [icon]="instagram"></fa-icon></a></li>
                <li id ="my-linkedin" class="my-apps"><a href="https://www.linkedin.com/in/shubham-zope-76177413b/" target="_blank"><fa-icon [icon]="linkedIn" target="_blank"></fa-icon></a></li>
            </ul>
        </div>
    </div>
</section>