<section id="projects" style="background-color: #284e61;background-image: linear-gradient(#504457, #4c4942);">
    <div class="container">
        <div class="row">
            <div _ngcontent-ikx-c28="" class="col-sm-12 col-lg-12 col-md-12">
                <div class="row shadow-lg p-3 mb-5 mt-5 bg-body rounded">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <h2 class="text-center">Projects</h2>
                        <p class="text-center">Projects that I have worked on.</p>
                        <div class="projectContainer">
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                                <div class="project-cart" style="margin-left: 1rem; margin-right: 1rem;">
                                    <img src="/assets/images/personal-profile-image.png" class="project-img">
                                    <h3 class="project-title">Personal Profile</h3>
                                    <i class="languages">Languages Used : Angular 14</i>
                                    <p class="project-description">
                                        Personal profile website has about section which contains my personal information and proffesional details like comapany details and work experience.
                                    </p>
                                    <p class="more-details-Btn"  (click)="showMoreDetails(0)">more details</p>
                                    <div  class="more-info" >
                                        <p>In the project section all projects that I have worked on are described with the techs used. 
                                            Social information details and accounts link are provided in footer section.
                                            Technologies used : Angular, HTML, CSS.
                                        </p>
                                        <p><a href="https://github.com/Shubhamzope96/Shubhamzope96.github.io" target=”_blank”>Git Hub</a></p>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                                <div class="project-cart" style="margin-left: 1rem;margin-right: 1rem;">
                                    <img src="/assets/images/Image-Not-Available.jpg"  class="project-img">
                                    <h3 class="project-title">Spend Distributor</h3>
                                    <i class="languages">Languages Used : Java with spring boot framework, javascript, jquery, html, css for frontend.</i>
                                    <p class="project-description">Back-end of spend distributor application is developed with java with spring boot in spring MVC pattern.
                                            I have used spring security with JWT token for the authentication. MySql database is used for storing and organizing the data.
                                            Front-end is developed with the Angular js.
                                    </p>
                                    <p class="more-details-Btn" (click)="showMoreDetails(1)">more details</p>
                                    <div  class="more-info">
                                        <p>Spend Distributor Application is designed to distribute the room, trip kind of expenditures among the group members.
                                            It facilates the CRUD operations on users, groups and spends.</p>
                                        <p> Admin can create a group of respective members for spend distribution. 
                                            All authenticated members who spend money, can mark their spend's entries in the respective group.
                                            In the analysis section the distributed spends can be analysed. 
                                        </p>
                                        <p>
                                            The graphical representation is provided by integrating fussion charts for better understanding.
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>